{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('index.css', 'css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('index.js', 'js') }}"></script>
{% endblock %}

{% block body %}
        <div class="form">
            <div class="field">
               {{ form(form) }}
            </div>
        </div>
{% endblock %}
